* {
    margin: 0;
    padding: 0;
    }
    body{
        background:#FFEFD5;
    }
    
  #btn{
    Border-radius:15px;
    margin: 20px 20px;
background: #FF6347;
padding:15px;
                font-size:25px;
                font-weight: 700;
                font
  }
  #d1 {
    margin:20px 30px 120px;
     font-size: 28px;
     font-weight: 700;
      width: 500px;
      Border-radius:15px;
    border:5px solid #FF6347;
    list-style: none;
    padding: 25px;
 }
